# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/

# Django
*.sqlite3
db.sqlite3
/staticfiles/
/media/

# Environments
.env
.env.*
venv/
env/
.venv/

# VSCode
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Misc
*.bak
*.swp 